<% @search_articles.each do|article|%>
    <div class="article_sp" style="list-style:none;">
      <% if article.image?%>
          <%= image_tag article.image.url %>
      <%else%>
          <%= image_tag 'noimage.jpg'%>
      <%end%>
      <div class="title_sp">
        <%= link_to article.title, article_path(article.id) %>
      </div>

      <div class="date-time">
        <%= article.created_at.strftime("%Y年%m月%d日")%>
      </div>
      <% if user_signed_in?%>
        <div class="like-link<%=article.id%>">
        <%= render partial: 'likes/like_links', locals:{ article: article }%>
        </div>
    </div>
<%end%>

<!--
      <div class="tag-sumaho">
              <span>
              <%= raw(article.tag_list.map { |t| link_to t, tag_path(t) }.join(' / ')) %>
              </span>
      </div>

    </div>
-->
<%end%>


<div class="paginate">
  <ul class="pagination" style="font-size:12px;">
  <%= paginate @search_articles%>
  </ul>
</div>
