<dl class="searchbox">
  <%= search_form_for @search, url: articles_path do |f| %>
      <dt><%= f.search_field :title_or_content_cont ,placeholder: '検索するテキストを入力...' %></dt>
      <dd><%= f.submit ('検索') , class: 'search-btn'%></dd>
  <% end %>
</dl>


<div id="menu">
  <% if user_signed_in?%>
      <div class="top-menu-signed-in">
        <%= link_to '投稿する',new_article_path %>
        <%= link_to 'お気に入り',likes_user_path(current_user),method: :get %>
        <%= link_to 'ログアウト',destroy_user_session_path,method: :delete %>
      </div>
  <%else%>
      <div class="top-menu">
        <%= link_to '無料登録',new_user_registration_path%>
        <%= link_to 'ログインする',new_user_session_path%>
      </div>
  <%end%>
</div>



<div class="logo-space">
  <h1>
    <%= link_to 'MOMIJI',articles_path%>
  </h1>
</div>

<p class="concept">美味しい和菓子が見つかるメディア</p>

<%= javascript_include_tag 'assets/bxslider','data-turbolinks-track': 'reload'%>

<div class="container_pc">
  <div class="slide_all">
    <div class="slide_wrap">
      <div class="slide_body">
        <div class="slide"><%= image_tag 'wa_1.jpg'%></div>
        <div class="slide"><%= image_tag 'wa_2.jpg'%></div>
        <div class="slide"><%= image_tag 'wa_3.jpg'%></div>
      </div>
    </div>
  </div>
</div>


<ul id="ranking">
  <p class="ranking-h">お気に入りランキング</p>
  <% @article_ranking.each_with_index do |article,r|%>
      <li class="r-li">
        <div class="r">
        <%= "#{r+1}"%>
        </div>
        <%= image_tag article.image.url%>
        <div class="title-rank">
        <%= link_to article.title,article_path(article.id)%>
        </div>
      </li>
  <%end%>
</ul>

<div id="astyle">
<% @search_articles.each_with_index do|article,i|%>
        <% if i%2==1%>
        <div class="second-zone">
            <% if article.image?%>
                <%= image_tag article.image.url %>
            <%else%>
                <%= image_tag 'noimage.jpg'%>
            <%end%>
          <p>
            <%= link_to article.title, article_path(article.id) %>
          <% if user_signed_in?%>
            <div class="like-link<%=article.id%>">
            <%= render partial: 'likes/like_links', locals:{ article: article }%>
            </div>
          <%end%>
          </p>
          <div class="description-zone">
            <%= simple_format article.description.truncate(70)%>
          </div>
          <div class="date-index">
            <%= article.created_at.strftime("%Y/%m/%d")%>
          </div>
            <div class="tag">
              <span>
              <%= raw(article.tag_list.map { |t| link_to t, tag_path(t) }.join(' / ')) %>
              </span>
            </div>
            <span>
              <div class="edit-style">
                <%if user_signed_in?%>
                  <%if current_user.id == article.user_id %>
                    <%= link_to '編集',edit_article_path(article.id) %>
                  <%end%>
                <%end%>
              </div>
          <span>
        </div>
          <%elsif i%2==0%>
            <div class ="third-zone">
              <% if article.image?%>
                  <%= image_tag article.image.url %>
              <%else%>
                  <%= image_tag 'noimage.jpg'%>
              <%end%>
              <p>
                <%= link_to article.title, article_path(article.id) %>
              <% if user_signed_in?%>
              <div class="like-link<%=article.id%>">
                <%= render partial: 'likes/like_links', locals:{ article: article }%>
              </div>
              <%end%>
              </p>
              <div class="description-zone">
                <%= simple_format article.description.truncate(70)%>
              </div>
              <div class="date-index">
                <%= article.created_at.strftime("%Y/%m/%d")%>
              </div>
              <div class="tag">
              <span>
              <%= raw(article.tag_list.map { |t| link_to t, tag_path(t) }.join(' / ')) %>
              </span>
              </div>
              <span>
                <div class="edit-style">
                  <%if user_signed_in?%>
                    <%if current_user.id == article.user_id%>
                      <%= link_to '編集',edit_article_path(article.id) %>
                    <%end%>
                  <%end%>
                </div>
            </span>
            </div>
            <%end%>
          <%end%>
  </div>

    <div class="blank"></div>


<div class="paginate">
  <%= paginate @search_articles%>
</div>
