<div class="form-wrapper">
  <h2 class="log_in">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-item">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true,:placeholder => "ユーザー名を入力してください" %>
      </div>

      <div class="form-item">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off",:placeholder => "パスワードを入力してください" %>
      </div>

      <div class="button-panel">
        <%= f.submit "Sign in",:class => "button" %>
      </div>
<% end %>

<div class="form-footer">
  <%= render "devise/shared/links" %>
</div>
</div>
