<!DOCTYPE html>
<html>
  <head>
    <title>Momiji | 美味しい和菓子が見つかるメディア</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if Rails.env.production? %>
    <script>
        (function(w,d){
            var s,e = d.getElementsByTagName("script")[0],
                a=function(u,f){if(!d.getElementById(f)){s=d.createElement("script");
                    s.async=!0;s.src=u;if(f){s.id=f;}e.parentNode.insertBefore(s,e);}};

            a("https://apis.google.com/js/plusone.js");
            a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
            a("//platform.twitter.com/widgets.js","twitter-wjs");
            a("https://widgets.getpocket.com/v1/j/btn.js?v=1");
        })(this, document);
    </script>
  </head>


  <dl class="searchbox">
    <%= search_form_for @search, url: articles_path do |f| %>
        <dt><%= f.search_field :title_or_content_cont ,placeholder: '検索するテキストを入力...' %></dt>
        <dd><%= f.submit ('検索') , class: 'search-btn'%></dd>
    <% end %>
  </dl>


  <div class="menu">
    <div class="top-menu">
      <%= link_to 'HOME', articles_path%>
      <span>/</span>
      <%= link_to 'LOGIN',new_user_session_path%>
      <span>/</span>
      <%= link_to 'ABOUT',about_show_path %>
    </div>
  </div>


  <div class="logo-space">
    <h1>
      <%= link_to 'MOMIJI',articles_path%>
    </h1>
  </div>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="auth">
      <% if user_signed_in?%>
          <%= link_to '記事を投稿する',new_article_path %>
          <%= link_to 'ログアウト',destroy_user_session_path,method: :delete%>
      <%else%>
          <%= link_to '管理者としてログイン',new_user_session_path,{:class => 'log'} %>
      <%end%>
    </div>
    <p><span>MOMIJI</span>
      MOMIJI. All Rights Reserved 複製及び無断転載禁止</p>
  </footer>
</html>
