<!DOCTYPE html>
<html>
  <head>
<!-- twitter ogp -->
<meta property="og:title" content="MOMIJI" />
<meta property="og:type" content="website" /> <!--またはwebsite, blog-->
<meta property="og:url" content="http://momiji.work/" />
<meta property="og:image" content="<%= asset_url('wa_1.jpg') %>" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Justin0370" />
<meta name="twitter:title" content="MOMIJI" />
<meta name="twitter:description" content="美味しい和菓子が集まるサイト" />
<meta name="twitter:image" content="<%= asset_url('wa_1.jpg') %>" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106333840-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106333840-1');
</script>

    <title>Momiji | 美味しい和菓子が見つかるメディア</title>
    <%= render partial: 'layouts/meta_tags'%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>

    <%= analytics_init if Rails.env.production? %>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.12&appId=1913886598627245&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <script>
        (function(w,d){
            var s,e = d.getElementsByTagName("script")[0],
                a=function(u,f){if(!d.getElementById(f)){s=d.createElement("script");
                    s.async=!0;s.src=u;if(f){s.id=f;}e.parentNode.insertBefore(s,e);}};

            a("https://apis.google.com/js/plusone.js");
            a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
            a("//platform.twitter.com/widgets.js","twitter-wjs");
            a("https://widgets.getpocket.com/v1/j/btn.js?v=1");
        })(this, document);
    </script>
  </head>


  <body>
    <%= yield %>
  </body>

  <footer>
    <p><span>MOMIJI</span>
      MOMIJI. All Rights Reserved 複製及び無断転載禁止</p>
  </footer>
</html>
