<!DOCTYPE html>
<html>
  <head>
    <title>Momiji | 美味しい和菓子が見つかるメディア</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="yemxwLCi3I5IcBWMjlzqXnDJo0sxOsBAZthDosq8ZLY" />

    <%= show_meta_tags %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= analytics_init if Rails.env.production? %>

    <script>
        (function(w,d){
            var s,e = d.getElementsByTagName("script")[0],
                a=function(u,f){if(!d.getElementById(f)){s=d.createElement("script");
                    s.async=!0;s.src=u;if(f){s.id=f;}e.parentNode.insertBefore(s,e);}};

            a("https://apis.google.com/js/plusone.js");
            a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
            a("//platform.twitter.com/widgets.js","twitter-wjs");
            a("https://widgets.getpocket.com/v1/j/btn.js?v=1");
        })(this, document);
    </script>
  </head>


  <body>
    <%= yield %>
  </body>

  <footer>
    <p><span>MOMIJI</span>
      MOMIJI. All Rights Reserved 複製及び無断転載禁止</p>
  </footer>
</html>
