<!DOCTYPE html>
<html>
<head>
  <title>Momiji | 美味しい和菓子が見つかるメディア</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= analytics_init if Rails.env.production? %>
  <%= show_meta_tags %>
  <%= favicon_link_tag('favicon.ico') %>
</head>


<div id="menu-box">
  <div id="toggle">
    <%= link_to 'MOMIJI',articles_path%>
  </div>
  <ul id="menu-sp">
    <% if user_signed_in?%>
    <li><%= link_to '記事一覧',articles_path%></li>
    <li><%= link_to 'お気に入り一覧',likes_user_path(current_user),method: :get%></li>
    <li><%= link_to 'ログアウト',destroy_user_session_path,method: :delete%></li>
    <%else%>
    <li><%= link_to '記事一覧',articles_path%></li>
    <li><%= link_to 'ログイン',user_session_path%></li>
    <li><%= link_to '新規登録',new_user_session_path%></li>
    <%end%>
  </ul>
</div>



<body>
<%= yield %>
</body>
<footer>
  <p><span>MOMIJI</span>
    MOMIJI. All Rights Reserved 複製及び無断転載禁止</p>
</footer>
</html>
