<!DOCTYPE html>
<html>
<head>
  <title>Momiji | 美味しい和菓子が見つかるメディア</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= analytics_init if Rails.env.production? %>
</head>


<div id="menu-box">
  <div id="toggle">
    <%= link_to 'MOMIJI',articles_path%>
  </div>
  <ul id="menu-sp">
    <li><%= link_to '記事一覧',articles_path%></li>
    <li><%= link_to 'ログイン',user_session_path%></li>
    <li><%= link_to 'MOMIJIとは',about_show_path%></li>
  </ul>
</div>



<body>
<%= yield %>
</body>
<footer>
  <p><span>MOMIJI</span>
    MOMIJI. All Rights Reserved 複製及び無断転載禁止</p>
</footer>
</html>
